<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>The Best Palindrome Checker in the World!</title>
    <link rel="stylesheet" href="/public/site.css">
</head>

<body>
    <main>
        {{{body}}}
        <footer>
            <div>
                Devesh Jain
            </div>
            <div>
                10435361
            </div>
        </footer>
    </main>

    <script src="/public/form.js"></script>
</body>

</html>