<article class="check">
    <header>
        <h2>This is a Palindrome page</h2>
    </header>
    <p>
        Welcome to Palindrome Checker!
        A palindrome is a phrase that is spelled the same way, backwards and forwards (ignoring spacing and
        punctuation; only
        alphanumeric characters matter). For example:</p>
    <ul>
        <li>Was it a cat I saw?</li>
    </ul>
    <p>
        This is very exciting, isn't it?!
    </p>
    <form id="result-form" method="POST" class="new-checker-form">
        <label for="phrase">Enter string to check:</label>
        <input type="text" id="phrase" name="phrase" placeholder="phrase" class="full-width-input" value="{{phrase}}" />
        <button type="submit" class="btn btn-default">Check!</button>

    <ul id='attempts'>
        <div class="is-palindrome">
        </div>
        <div class="not-palindrome">
        </div>
    </ul>
    </form>
</article>